@model app2.comentario
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">
                Juan José
                <span class="text-primary">Lemus Vásquez</span>
            </h1>
            <div class="subheading mb-5">
                10 a. Calle "A" 8-34 zona 2 Jardines de San Jose Villa Nueva · (502) 42221093 ·
                <a href="mailto:name@email.com">jlemus003@gmail.com</a>
            </div>
            <div class="subheading mb-5">
                <span class="text-primary">Carne:</span> 201404412
                <p></p>
                <span class="text-primary">Edad:</span> 22 (25 de Enero 1996)
            </div>
            <p class="mb-5">
                Especialista en el desarrollo de programas y mantenimiento de sistemas con más de 3 meses de experiencia. Conocimientoss
                avanasados en distintos lenguajes de programacion, incluidos Java, C, Python, C#, PHP. Capasitado para trabajar en todas las
                etapas del desarrollo de programas, migraciones y continuous integration con jenkis. Con iniciativa propia, responsabilidad y
                liderazgo.
            </p>
            <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/juan.vasquez.336">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/ocopulus">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Habilidades</h2>
            <div class="subheading mb-3">Lenguajes de Programacion &amp; Herramientas</div>
            <ul class="list-inline list-icons">
                <li class="list-inline-item">
                    <i class="devicon-amazonwebservices-original"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-android-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-c-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-bootstrap-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-csharp-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-docker-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-git-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-javascript-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-laravel-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-django-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-mysql-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-nodejs-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-oracle-original"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-php-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-python-plain"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicon-postgresql-plain"></i>
                </li>
            </ul>
            <div class="subheading mb-3">Habilidades</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    La capacidad de tomar decisiones
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Facilidad para trabajar en equipo
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Excelente capacidad de liderazgo
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Buena capacidad para adaptarse a los cambios
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Manejo de grupos
                </li>
            </ul>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QPr-ND1UjJk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experiencias</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Verdad Radio</h3>
                    <div class="subheading mb-3">Proyecto Propio</div>
                    <p>Actualmente estoy desarrollado una radio online para una entidad religiosa la cual ya se encuentra fusionando, pero el portal web lo estoy desarrollando actualmente.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Enero 2018 - Presente</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Biblioteca de la Facultad de Ingeniería</h3>
                    <div class="subheading mb-3">Voluntariado</div>
                    <p>Ayude a la depuración de la base de datos de la biblioteca de Ingeniera.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Junio 2017 - Noviembre 2017</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Latin American Resources</h3>
                    <div class="subheading mb-3">Practica Supervisada</div>
                    <p>Realice mis practicas supervisadas en la empresa Latin American Resources, donde obtuve la experiencia de trabajar en el área de contabilidad.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Septiembre 2013 - Agosto 2013</span>
                </div>
            </div>
        </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Estudios</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Universidad de San Carlos de Guatemala</h3>
                    <div class="subheading mb-3">Ingenieria en Ciencias y Sistemas</div>
                    <div>
                        8 &deg; Semestre
                    </div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Enero 2014 - Presente</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Colegio Cristiano el Olivo 2</h3>
                    <div class="subheading mb-3">Bachillerato en Ciencias y Letras con Orientación en Computación</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2012 - 2013</span>
                </div>
            </div>
        </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
            <h2 class="mb-5">Logros</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    1<sup>er</sup>
                    Lugar en las Olimpiadas Interuniversitarias 2015 en el área de Tecnología
                </li>
            </ul>
        </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        @using (Html.BeginForm("Create", "comentarios"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Recomendacion</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.recomendacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.recomendacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.recomendacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Recomendaciones", "Index", "comentarios")
                    </div>
                </div>
            </div>
        }
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests"></section>
</div>
</section>
